
node_modules/

backend/.env
backend/uploads/

docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.toc
docs/*.lof
docs/*.lot
docs/*.bbl
docs/*.blg
docs/*.pdf

.DS_Store
Thumbs.db